body {
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
	background-color: #E74535;
}

h1 {
	text-align: center;
	font-size: 3.5em;
}

form {
	font-size: 1.5em;
}

.search-form-container {
	text-align: center;
}

#recipe-search {
	font-size: 1.75em;
}

.ingredient-addition {
	width: 45%;
	float: left;
}

.ingredient-subtraction {
	width: 45%;
	float: right;
}

.ingredients {
	list-style-type: none;
}